repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024']
        exclude: '\.(mp4|avi|mov|mkv)$'
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system # Assumes pytest is installed in your environment (via pip install .[dev])
        types: [python] # Run on changes to Python files
        pass_filenames: false # Pytest typically runs on the whole suite
        # stages: [commit] # This is the default, explicitly stating it
