include README.md
include LICENSE
include pyproject.toml
recursive-include src/m3 *.py
recursive-include mcp_client_configs *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
prune tests
prune webapp
prune build
prune dist
