name: Pre-commit checks

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install UV and Python
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          python-version: "3.11"
      - name: Symlink uv to expected path for pre-commit-uv
        run: |
          mkdir -p ~/.local/bin
          ln -s $(which uv) ~/.local/bin/uv
      - run: uv venv
      - run: uv sync --dev
      - uses: tox-dev/action-pre-commit-uv@v1
        with:
          extra_args: --all-files
